/*
 *= require_tree .
 *= require_self
 *= require fontawesome
 *= require skeleton/skeleton
 *= require skeleton-extras/skeleton-extras
 */

/**
 * Reset
 *
 * */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Background
 *
 * */
.jumbotron {
  width: 100%;
  min-height: calc(100% - 200px);

  color: white;
  text-align: center;

  padding-top: 100px;
  padding-bottom: 100px;

  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/**
 * Utilities
 *
 * */
.center {
  text-align: center;
}

.margin-top-md {
  margin-top: 20px;
}

/**
 * Overlay
 *
 * */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;

  padding-top: 100px;

  background: rgba(50, 50, 50, 0.8);
}

/**
 * Search interface
 *
 * */
.search-interface > h1 {
  font-size: 6em;
  font-weight: 200;
}

.search-interface > h5 {
  font-style: italic;
}

.search-interface .search-container {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */
input:-moz-placeholder { font-style: italic; }

.filter select,
.filter input[type="text"] {
  width: 100%;
}

label.select.chromefix {
  display: table;
}

div.select:after {
  margin-left: -27.5px;
}

/* Input */
.search-interface input[type="text"],
.search-interface input[type="text"]:active,
.search-interface input[type="text"]:focus,
.search-interface input[type="text"]:hover,
.search-interface button,
.search-interface button:active,
.search-interface button:focus,
.search-interface button:hover,
.search-interface select,
.search-interface select:active,
.search-interface select:focus,
.search-interface select:hover {
  border-color: white;
}

.search-interface a.button,
.search-interface button,
.search-interface button:hover,
.search-interface button:active,
.search-interface button:focus {
  color: white;
  border-color: white;
}

/* Icon */
.search-icon {
  margin-top: 60px;

  width: 100%;
  text-align: center;
  font-size: 30px;
}

.search-icon a,
.search-icon a:active,
.search-icon a:focus {
  color: white;
}

.search-icon a:hover {
  color: #C4C4C4;
}

.search-input-container select {
  margin-left: -15px;
}

/**
 * Results
 *
 * */
.results {
  width: 100%;

  padding-top: 25px;
  padding-bottom: 25px;
}

.results .result {
  margin-bottom: 25px;
}

.capitalize {
  text-transform: capitalize;
}
