<div class="overlay" id="overlay-dialog">
  <div class="row">
    <div class="four columns offset-by-four">
      <div class="panel">
        What logical operator do you wish to use? This will apply to <strong>all filters</strong> you add.
        <hr>
        <div class="row">
          <div class="six columns">
            <a href="javascript:void(0);" class="button u-full-width" id="overlay-and-button">AND</a>
          </div>
          <div class="six columns">
            <a href="javascript:void(0);" class="button u-full-width" id="overlay-or-button">OR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" id="overlay-image">
  <div class="row">
    <div class="six columns offset-by-three">
      <a href="javascript:void(0);" target="_blank">
        <img src="" width="100%" height="100%">
      </a>
    </div>
  </div>
</div>

<div class="jumbotron">
    <div class="container u-full-width search-interface">
      <h1>Semantic search</h1>
      <h5>Search the Web the way it should be</h5>

      <div class="container search-container">
        <div id="search-filter-container">
          <!-- ko foreach: appliedFilters -->
          <div class="row filter">
            <div class="four columns">
              <label class="select">
                <select class="search-dropdown" data-bind="value: title, options: $parent.filterTypes" name="filter">
                </select>
              </label>
            </div>
            <div class="six columns search-input-container">
              <!-- ko if: (title() === "Theme") -->
              <label class="select">
                <select data-bind="value: value, options: themeTypes" name="value">
                  <option>TEST</option>
                </select>
              </label>
              <!-- /ko -->
              <!-- ko if: (title() !== "Theme") -->
                <input type="text" placeholder="Search term..." class="search-box" name="value">
              <!-- /ko -->
            </div>
            <div class="two columns add-button-container">
              <!-- ko if: ($index() === $parent.appliedFilters().length - 1) -->
              <a href="javascript:void(0);" class="button add-button" data-bind="click: $parent.addFilter"><i class="fa fa-plus"></i></a>
              <!-- /ko -->
              <!-- ko if: ($index() !== $parent.appliedFilters().length - 1) -->
              <strong><span data-bind="text: $parent.operator"></span></strong>
              <!-- /ko -->
            </div>
          </div>
          <!-- /ko -->
        </div>
        <div class="row margin-top-md">
          <button type="submit" class="button" data-bind="click: search">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </div>
    </div>

    <div class="search-icon">
      <a href="javascript: void(0);">
        <!-- Replace with fa-circle-o-notch fa-spin when searching -->
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
</div>

<div class="container">
  <div class="results">
    <div class="row">
      <div class="two columns">
        <a href="javascript:void(0);" id="image-link">
          <!-- Not using thumbnails is a sin, but whatever -->
          <img src="http://www.lolcats.com/images/u/12/24/lolcatsdotcompromdate.jpg" width="100%">
        </a>
      </div>
      <div class="ten columns">
        <div class="row">
          <strong>Lolcat</strong>
        </div>
        <div class="row">
          <small><em>JPEG, 490x379px, 44.23KB, extremely cute</em></small>
        </div>
        <div class="row">
          Tags: Cute, Funny, Lolcat, WTF
        </div>
      </div>
    </div>
  </div>
</div>
