<div class="overlay" id="overlay-image">
  <div class="row">
    <div class="six columns offset-by-three">
      <a href="javascript:void(0);" target="_blank">
        <img width="100%" height="100%">
      </a>
    </div>
  </div>
</div>

<div class="jumbotron">
    <div class="container u-full-width search-interface">
      <h1>Semantic search</h1>
      <h5>Search the Web the way it should be</h5>

      <div class="container search-container">
        <div id="search-filter-container">
          <!-- ko foreach: appliedFilters -->
          <div class="row filter">
            <div class="four columns">
              <label class="select u-full-width chromefix">
                <select class="search-dropdown" data-bind="value: title, options: $parent.filterTypes" name="filter">
                </select>
              </label>
            </div>
            <div class="six columns search-input-container">
              <!-- ko if: (title() === "Theme") -->
              <label class="select u-full-width chromefix">
                <select data-bind="value: value, options: themes, optionsText: 'text', optionsValue: 'value'" name="value"></select>
              </label>
              <!-- /ko -->
              <!-- ko if: (title() !== "Theme") -->
                <input type="text" placeholder="Search term..." class="search-box" name="value">
              <!-- /ko -->
            </div>
            <div class="two columns add-button-container">
              <a href="javascript:void(0);" class="button add-button" data-bind="click: $parent.removeFilter"><i class="fa fa-minus"></i></a>
            </div>
          </div>
          <!-- /ko -->
        </div>
        <div class="row margin-top-md">
          <a href="javascript:void(0);" class="button add-button" data-bind="click: addFilter"><i class="fa fa-plus"></i> add filter</a>
          <button type="submit" class="button" data-bind="click: search">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </div>
    </div>

    <div class="search-icon">
      <a href="javascript: void(0);">
        <i class="fa fa-circle-o-notch fa-spin" data-bind="visible: searching()"></i>
      </a>
    </div>
</div>

<div class="container">
  <div class="results">
    <div class="row">
      <h3><span data-bind="text: results().length"></span> result<span data-bind="if: results().length > 1">s</span></h3>
    </div>
    <!-- ko foreach: results -->
    <div class="row result">
      <div class="two columns">
        <a href="javascript:void(0);" data-bind="click: view">
          <!-- Not using thumbnails is a sin, but you're not my mother and this isn't the foaf:Image ontology -->
          <img width="100%" data-bind="attr: { src: fetch('uri') }">
        </a>
      </div>
      <div class="ten columns">
        <div class="row">
          <a href="" data-bind="attr: { href: fetch('uri') }"><strong data-bind="text: fetch('title', 'Untitled image')"></strong></a>
        </div>
        <div class="row">
          <small>
            <em>
              <span data-bind="text: clean('type', 'Uncategorized')"></span>
              <span data-bind="if: fetch('date')">
                , <span data-bind="text: fetch('date')"></span>
              </span>
              <span data-bind="if: fetch('coverage')" class="capitalize">
                , at <a data-bind="attr: { href: fetch('coverage') }, text: clean('coverage')"></a>
              </span>
              <span data-bind="if: fetch('creator')" class="capitalize">
                , by <a data-bind="attr: { href: fetch('creator') }, text: clean('creator')">author</a>
              </span>
            </em>
          </small>
        </div>
        <div class="row">
          <span data-bind="html: fetch('description', '<em>No description available</em>')"></span>
          <a href="" data-bind="if: fetch('subject'), attr: { href: fetch('subject') }">More details &raquo;</a>
        </div>
      </div>
    </div>
    <!-- /ko -->
  </div>
</div>
