<div class="jumbotron">
  <div class="container">
    <div class="u-full-width overlay">
        <h1>Semantic search</h1>
        <h5>Search the Web the way it should be</h5>

        <div class="container search-container">
          <input type="text" placeholder="Search the Web" class="search-box"> <a href="javascript:void(0);" class="button"><i class="fa fa-search"></i> Search</a>
        </div>
    </div>
  </div>
</div>
<div class="search-icon">
  <a href="javascript: void(0);">
    <!-- Replace with fa-angle-down when results are ready -->
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </a>
</div>
